@using MudServer.Pages.Layout.Components

<div id="main-container">
    <div class="top">
        <div class="top-left">
            <div class="sticky-header">
                <MudButtonGroup Color="Color.Primary" Variant="Variant.Outlined">
                    <MudButton Color="Color.Primary" Variant="Variant.Outlined">One</MudButton>
                    <MudButton Color="Color.Warning" Variant="Variant.Outlined">Two</MudButton>
                    <MudButton Color="Color.Secondary" Variant="Variant.Outlined">Three</MudButton>
                </MudButtonGroup>

            </div>
            <SideBar />
        </div>
        <div class="top-right">
            <div class="sticky-header">
                <MudPaper Elevation="25">
                    <MudToolBar>
                        <MudIconButton Icon="@Icons.Material.Outlined.Menu" Color="Color.Inherit" Class="mr-5" />
                        <MudIconButton Icon="@Icons.Material.Outlined.Add" />
                        <MudIconButton Icon="@Icons.Material.Outlined.Edit" />
                        <MudIconButton Icon="@Icons.Material.Outlined.Remove" Color="Color.Inherit" />
                        <MudIconButton Icon="@Icons.Material.Outlined.Settings" Color="Color.Inherit" />
                        <MudSpacer />
                        <MudIconButton Icon="@Icons.Material.Outlined.Notifications" />
                        <MudIconButton Icon="@Icons.Material.Outlined.PushPin" />
                        <MudIconButton Icon="@Icons.Material.Outlined.PeopleAlt" />
                        <MudIconButton Icon="@Icons.Material.Outlined.MoreVert" Color="Color.Inherit" />
                    </MudToolBar>
                </MudPaper>
            </div>
            <Content />
        </div>
    </div>
    <div class="bot">
        <div class="bot-left">
            <div class="sticky-header">
                <MudChipSet @bind-SelectedChip="selected" Filter="true" Mandatory="@mandatory">
                    <MudChip Text="grey">Default</MudChip>
                    <MudChip Text="purple" Color="Color.Primary">Primary</MudChip>
                    <MudChip Text="pink" Color="Color.Secondary">Secondary</MudChip>
                    <MudChip Text="blue" Color="Color.Info">Info</MudChip>
                    <MudChip Text="green" Color="Color.Success">Success</MudChip>
                    <MudChip Text="orange" Color="Color.Warning">Warning</MudChip>
                    <MudChip Text="red" Color="Color.Error">Error</MudChip>
                    <MudChip Text="black" Color="Color.Dark">Dark</MudChip>
                </MudChipSet>
            </div>
            <BotPanelLeft />
        </div>
        <div class="bot-right">
            <div class="sticky-header">
                <MudChipSet @bind-SelectedChip="selected" Filter="true" Mandatory="@mandatory">
                    <MudChip Text="grey">Default</MudChip>
                    <MudChip Text="purple" Color="Color.Primary">Primary</MudChip>
                    <MudChip Text="pink" Color="Color.Secondary">Secondary</MudChip>
                    <MudChip Text="blue" Color="Color.Info">Info</MudChip>
                    <MudChip Text="green" Color="Color.Success">Success</MudChip>
                    <MudChip Text="orange" Color="Color.Warning">Warning</MudChip>
                    <MudChip Text="red" Color="Color.Error">Error</MudChip>
                    <MudChip Text="black" Color="Color.Dark">Dark</MudChip>
                </MudChipSet>
            </div>
            <BotPanelRight />
        </div>
    </div>

</div>

<style>
    #main-container {
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr 1fr;
        grid-gap: 0px 0px;
    }

    .sticky-header {
        position: sticky;
        top: 0;
        background-color: white
    }

    .top {

        grid-column: 1;
        grid-row: 1;
        overflow: auto;

        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr;
    }

    .top-left {
        grid-column: 1;
        grid-row: 1;
        overflow: auto;
    }

    .top-right {
        grid-column: 2;
        grid-row: 1;
        overflow: auto;
    }

    .bot {
        grid-column: 1;
        grid-row: 2;
        overflow: auto;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .bot-left {
        grid-column: 1;
        grid-row: 1;
        overflow: auto;
    }

    .bot-right {
        grid-column: 2;
        grid-row: 1;
        overflow: auto;
    }
</style>

@code
{
    bool mandatory = true;
    MudChip selected;
}